<%= simple_form_for @brew do |f| %>
  <% if brew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
        <% brew.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control control--select">
    <%= f.association :pot, prompt: "Which pot are you using?" %>
  </div>
  <div class="control control--select">
    <%= f.association :variety, prompt: "What type of coffee are you making?" %>
  </div>
  <div class="control">
    <%= f.button :submit, "Start brew",
      class: "aa dib mt3 mr3 tc pa3 ph4 ttu br2 white bg-black-90 input-reset bn f5 pointer btn" %>
    <%= link_to "Never mind", root_url,
      class: "link dim black-60 dib mb2 f5" %>
  </div>
<% end %>
