<p id="notice"><%= notice %></p>

<h1>Brews</h1>

<table>
  <thead>
    <tr>
      <th>Started</th>
      <th>Pot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brews.each do |brew| %>
      <tr>
        <td><%= brew.created_at %></td>
        <td><%= link_to brew.pot.name, brew.pot %></td>
        <td><%= link_to brew.coffee_type.name, brew.coffee_type %></td>
        <td><%= link_to 'Show', brew %></td>
        <td><%= link_to 'Edit', edit_brew_path(brew) %></td>
        <td><%= link_to 'Destroy', brew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brew', new_brew_path %>
