<div class="bg-white">
  <div class="measure center pa3 pv5-ns black-90">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <fieldset class="ba b--transparent pa0 ma0">
        <% unless user_agent_contains("Fresh Pots iOS") %>
          <legend class="f2 fw6 ph0 mt0 mb4 display">Sign up</legend>
        <% end %>

        <%= f.input :email, required: true, autofocus: true %>

        <div class="mb4">
          <label class="db lh-copy f5 ttu fw7 mb1" for="user_full_name">Name</label>
          <input
            class="pa3 input-reset ba b--black-20 br1 w-100"
            name="user[full_name]"
            id="user_full_name"
            type="text"
          />
        </div>
        
        <%= f.input :avatar, label: "Profile image", as: :file %>

        <%= f.input :password, required: true,
          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </fieldset>

      <%= f.button :submit, "Sign up",
        class: "aa dib tc pa3 ph4 ttu br2 white bg-black-90 input-reset bn f5 pointer btn mr3" %>
      <%= link_to "Log in", new_session_path(resource_name), class: "link dim black-60 dib mb2 f5" %>
    <% end %>

    <div class="mt4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
