<div class="pattern-1 ph3 pv4 ph4-ns pv6-ns">
  <%= simple_form_for(@user) do |f| %>
    <div class="center measure-wide">
      <div class="pa4 mb4 box br3 bg-white">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.association :pot, label: "Favorite location" %>
        <%= f.association :variety, label: "Favorite variety" %>
        <%= f.input :avatar, as: :file, label: "Change your profile image" %>
      </div>

      <%= f.button :submit, "Save changes",
        class: "aa dib f5 tc ph4 pv3 ttu br2 btn bn pointer" %>
      <%= link_to "Never mind", user_url(@user),
        class: "ml3 link dim black-50 dib mb2 f5" %>
    </div>
  <% end %>
</div>
