<div class="pattern-1 ph3 pv4 ph4-ns pv6-ns">
  <div class="center measure-wide">
    <div class="pa4 mb4 box br3 bg-white">
      <div class="flex items-center">
        <img src="<%= @user.avatar.url(:thumb) %>" class="w3 mr3 br-100" />
        <h1 class="f3 f2-ns mv0"><%= @user.full_name %></h1>
      </div>

      <div class="flex mt4 mt5-ns">
        <div class="w-50">
          <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Total Brews</h2>
          <span class="f5 f4-ns black-50"><%= @user.brews.count %></span>
        </div>

        <div class="w-50">
          <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Brews this week</h2>
          <span class="f5 f4-ns black-50"><%= @user.num_brews_this_week %></span>
        </div>
      </div>

      <div class="flex mt4">
        <div class="w-50">
          <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Favorite location</h2>
          <span class="f5 f4-ns black-50"><%= @user.favorite_pot.name %></span>
        </div>

        <div class="w-50">
          <h2 class="f6 f5-ns fw7 ttu tracked mt0 mb1">Favorite variety</h2>
          <span class="f5 f4-ns black-50"><%= @user.favorite_variety.name %></span>
        </div>
      </div>
    </div>

    <% if @user == current_user %>
      <%= link_to "Edit your profile", edit_user_path(@user),
        class: "aa db dib-ns f5 tc ph4 pv3 ttu br2 link btn" %>
    <% end %>

    <%= link_to "Return to dashboard", dashboard_url, 
      class: "link dim black-50 mt4 db di-ns ml0 ml3-ns f5 ttu tracked tc",
      "data-turbolinks-action": "replace" %>
  </div>
</div>
