<p id="notice"><%= notice %></p>

<h1>Pots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pots.each do |pot| %>
      <tr>
        <td><%= pot.name %></td>
        <td><%= link_to 'Show', pot %></td>
        <td><%= link_to 'Edit', edit_pot_path(pot) %></td>
        <td><%= link_to 'Destroy', pot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pot', new_pot_path %>
