<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pot.name %>
</p>

<h2>Recent brews</h2>

<ul>
  <% @recent_brews.each do |brew| %>
    <li><%= link_to brew.created_at, brew %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_pot_path(@pot) %> |
<%= link_to 'Back', pots_path %>
