<section class="pattern-1">
  <div class="flex-l justify-between relative pa3 pb1 ph4-ns pv5-m pv6-l mw9-l center">
    <%= render partial: "brews" %>
  </div>
</section>

<div class="bg-white">
  <div class="flex-ns flex-wrap justify-between items-center relative ph3 pv4 ph4-ns pv5-m pv6-l mw9-l center">
    <%= render partial: "stats" %>
    <%= render partial: "high_scores" %>
  </div>
</div>

<div class="white-80" style="background: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.08));">
  <div class="ph3 pt4 ph4-ns pv5-m pv6-l mw9-l center">
    <h1 class="aa mt0 mb4 mb5-ns f3 f2-ns display tc">Top brewers</h1>
    <div class="db flex-ns justify-center items-center">
      <% @top_brewers.each do |user| %>
        <div class="ph4 tc pb4 pb0-ns">
          <img src="<%= user.avatar.url %>" class="w3 w4-ns db mb3 br-100 center" />
          <%= link_to @most_active_user.full_name, user_path(@most_active_user), class: "f6 f5-ns link dim ttu tracked fw7 white-80 db mb2" %>
          <div class="f6 f5-ns white-60 ttu">
            <%= user.brews_count %> brews
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="db dn-ns fixed left-0 bottom-0 w-100 pa3 bg-white shadow-3">
  <%= link_to "Start a brew", new_brew_url,
    class: "aa db dib-ns fr-m fl-l f5 f4-l tc ph4 pv3 ttu br2 link btn" %>
</div>
