<section class="pattern-1">
  <div class="flex-l justify-between relative pa3 pb1 ph4-ns pv5-m pv6-l mw9-l center">
    <%= render partial: "brews" %>
  </div>
</section>

<div class="bg-white">
  <div class="flex-ns flex-wrap justify-between items-center relative ph3 pv4 ph4-ns pv5-m pv6-l mw9-l center">
    <%= render partial: "stats" %>
    <%= render partial: "high_scores" %>
  </div>
</div>

<div class="gradient-1 white-80">
  <%= render partial: "top_brewers" %>
</div>

<% unless user_agent_contains("Fresh Pots iOS") %>
  <div class="db dn-ns fixed left-0 bottom-0 w-100 pa3 bg-white shadow-3">
    <%= link_to "Start a brew", new_brew_url,
      class: "aa db dib-ns fr-m fl-l f5 f4-l tc ph4 pv3 ttu br2 link btn" %>
  </div>
<% end %>

<% if @toast %>
  <div
    data-component="toast"
    data-type="success"
    data-text="<%= @toast %>"
  ></div>
<% end %>
