<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= title %></title>

    <% if user_agent_contains("Fresh Pots iOS") %>
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      >
    <% else %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>

    <%= breakfast_autoreload_tag %>
  </head>

  <% bg_color = user_agent_contains("Fresh Pots iOS") ? "white pattern-1" : "black-90" %>
  <body class="bg-<%= bg_color %> black-90 h-100 relative pb4">
    <div id="app">
      <% unless user_agent_contains("Fresh Pots iOS") %>
        <%= render partial: "shared/header" %>
      <% end %>

      <main role="main">
        <%= yield %>
      </main>

      <div data-component="toast-container"></div>

      <% if user_agent_contains("Fresh Pots iOS") %>
        <% if signed_in? %>
            <div
              data-component="mobile-menu"
              data-avatar="<%= current_user.avatar(:thumb) %>"
              data-show-url="<%= user_url(current_user) %>"
              data-edit-url="<%= edit_user_url(current_user) %>"
              ></div>
        <% end %>
      <% else %>
        <%= render partial: "shared/footer" %>
      <% end %>

      <%= render partial: "shared/flashes" %>
    </div>
  </body>
</html>
