<!DOCTYPE html>
<html>
  <head>
    <title>FreshPots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:300,500,700" %>
    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>
    <%= breakfast_autoreload_tag %>
  </head>

  <body class="white-90 aa">
    <header class="cf pa4 bg-black-20" role="banner">
      <div class="fl">
        <h1 class="ttu f4 ma0 lh-solid dib">
          <%= link_to "Fresh Pots", root_url, class: "link dim", style: "color: #f9f18d;" %>
        </h1>
        <nav class="dib lh-solid" role="navigation">
          <%= link_to "Pots", pots_url, class: "white link dim ml4" %>
          <%= link_to "Varieties", varieties_url, class: "white link dim ml4" %>
          <%= link_to "Brews", brews_url, class: "white link dim ml4" %>
        </nav>
      </div>

    <% if flash.any? %>
      <div class="flashes">
        <% flash.each do |key, value| -%>
          <div class="flash-<%= key %>">
            <%= value %>
          </div>
        <% end -%>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
