<!DOCTYPE html>
<html>
  <head>
    <title>FreshPots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>
    <%= breakfast_autoreload_tag %>
  </head>

  <body class="black-80">
    <header class="cf pa4 bg-black-05" role="banner">
      <div class="fl">
        <h1 class="ttu f4 ma0 lh-solid dib">
          <%= link_to "Fresh Pots", root_url, class: "link dim dark-gray" %>
        </h1>
        <nav class="dib lh-solid" role="navigation">
          <%= link_to "Pots", pots_url, class: "link dim dark-gray ml4" %>
          <%= link_to "Varieties", varieties_url, class: "link dim dark-gray ml4" %>
          <%= link_to "Brews", brews_url, class: "link dim dark-gray ml4" %>
        </nav>
      </div>

      <div class="fr">
        <% if signed_in? %>
          Logged in as <%= current_user.email %>
        <% end %>
      </div>
    </header>

    <div class="pa3 mw9 center">
      <% if flash.any? %>
        <div class="flashes">
          <% flash.each do |key, value| -%>
            <div class="flash-<%= key %>">
              <%= value %>
            </div>
          <% end -%>
        </div>
      <% end %>

    <%= yield %>
  </div>
  </body>
</html>
