<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>FreshPots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>
    <%= breakfast_autoreload_tag %>
  </head>

  <body class="bg-black-90 black-80 h-100 relative pb4">
    <%= render partial: "shared/header" %>
    <main class="pattern-1" role="main">
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
    <%= render partial: "shared/flashes" %>
  </body>
</html>
