<!DOCTYPE html>
<html>
  <head>
    <title>FreshPots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:300,500,700" %>
    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "app.js" %>
    <script>require('frontend/js/app').init();</script>
    <%= breakfast_autoreload_tag %>
  </head>

  <body class="white-80 aa">
    <header class="pa3 cf" role="banner">
      <h1 class="ttu f4 ma0 lh-solid fl">
        <%= link_to "Fresh Pots", root_url, class: "link dim" %>
      </h1>
      <nav class="fr lh-solid" role="navigation">
        <%= link_to "Pots", pots_url, class: "link dim mh2" %>
        <%= link_to "Coffee Types", coffee_types_url, class: "link dim mh2" %>
        <%= link_to "Brews", brews_url, class: "link dim mh2" %>
      </nav>
    </header>

    <% if flash.any? %>
      <div class="flashes">
        <% flash.each do |key, value| -%>
          <div class="flash-<%= key %>">
            <%= value %>
          </div>
        <% end -%>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
